template(name="layout")
  head
    title Tesla Superchargers
    link(rel="assets/stylesheets/main.scss" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .navbar-header
        a.navbar-brand(href='/')
          i.fa.fa-home.fa-lg
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.static
            +updates
          li.inactive
            a(href="{{pathFor 'about'}}") About
          +search
          li.static
            |v{{version}}

        ul.nav.navbar-nav.navbar-right
          +loginButtons
          li &nbsp;

    .container
      +search_bar
      +yield

template(name="updates")
  |updated #{updated_at} by #{updated_by}

template(name="search")
  li.static(style="padding:0;")
    a#toggle-search(href="#" style="padding:0;margin:0")
      i.fa.fa-search.fa-lg

template(name="search_bar")
  .row#search_row(style="display:none;")
    |Type your search:
    input#search(type="search")
