template(name="layout")
  head
    title Tesla Superchargers
    link(rel="assets/stylesheets/main.scss" type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      +header

    .container
      +search_bar
      +yield

template(name="header")
  .navbar-header
    a.navbar-brand(href='/')
      i.fa.fa-home.fa-lg
    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      +updates
      li.inactive
        a(href="{{pathFor 'about'}}") About
      li.inactive
        if currentUser
          a(href="{{pathFor 'logout'}}") Logout
        else
          a(href="{{pathFor 'login'}}") Login
      li.inactive
        a(href="{{pathFor 'changelog'}}") Change Log
      li.inactive
        a(href="{{pathFor 'settings'}}") Settings
      //
        +search
      li.static
        |v{{version}}

    ul.nav.navbar-nav.navbar-right
      //
        +loginButtons
      //
        li &nbsp;

template(name="updates")
  li#updates.static(class="{{update_class}}")
    |updated #{updated_at} by #{updated_by}

template(name="search")
  li.static(style="padding:0;margin-top:6px;")
    #toggle-search.btn.btn-default
      i.fa.fa-search.fa-lg

template(name="search_bar")
  +if isChargerPage
    .row#search_row
      input#search(type="search" style="color:black;" placeholder="type your search")
