<template name="layout">
  <head>
    <title>Tesla Superchargers</title>

    <link href="//www.fuelcdn.com/fuelux/3.2.1/css/fuelux.min.css" rel="stylesheet">
    <script src="//www.fuelcdn.com/fuelux/3.2.1/js/fuelux.min.js"></script>

    <link rel="assets/stylesheets/main.scss" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="fuelux">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tesla Superchargers</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }} <!-- here -->
            </ul>
        </div>
    </div>
    <div class="container">
    {{> yield}}
    </div>
  </body>
</template>
