body {
  background-color: #333;
  color: #eee;
}

.separator {
  border-bottom: 1px dotted black;
  margin-bottom: .5em;
}

.bottom-pad {
  margin-bottom: .5em;
}

.increment-button {
  line-height: 1.0;
}

normal-column {
  @extend .col-xs-5;
  background-color: '#edd';
}